{
	"dbConnection": "user:password@/mosstier",
	"webserverPort": 9090,
	"adminEmail": "admin@example.com",
	"smtpHost": "smtp.example.com",
	"smtpPort": 587,
	"smtpUsername": "user@example.com",
	"smtpPassword": "hunter2",
	"mailSender": "Moss Tier <noreply@example.com>",
	"moderators": ["moderator1@example.com", "moderator2@example.com"]
}
