{{ define "title" }}About{{ end }}
{{ define "content" }}
<h2>About Moss Tier</h2>
<p>
  Moss Tier was created to help Spelunky players identify legit high scores and record times, as by now, it is assumed that the ingame leaderboards consist largely of hacked times and scores.
</p>

<p>
  The name is derived from <a href="http://deertier.com">Deer Tier</a>; a speedrunning website for Super Metroid speedrunners.
</p>
<br />
<h2>Contact</h2>
<p>
  If you come across any bugs or simply have suggestions, you can <a href="/contact/">contact the developer directly</a>.
</p>
{{ end }}