{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/img/bluefrog.png">
    <title>{{ template "title" . }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/mosstier.css" rel="stylesheet">
    <script src="/js/jquery-1.12.4.min.js"></script>
  </head>

  <body>
    <div class="container-fluid fullheight">
      <div class="row transparent header">
      	<div >
      	   <div class="col-md-8">
      	     <h1><a href="/">Moss Tier</a></h1>
      	   </div>
      	   <div class="col-md-4 header-login"><p>
             {{ if .UserLoggedIn }}
               <span class="tab-space"><a href="/profile/{{ .ActiveUser.ID }}">{{ .ActiveUser.Username }}</a></span> 
               <span class="tab-space"><a href="/submit-run">Submit run</a></span>
               <span><a href="/log-out">Log out</a></span>
             {{ else }}
               <span class="tab-space"><a href="/login">Login</a></span>
               <span><a href="/register">Register</a></span>
             {{ end }}
      	   </p></div>
        </div>
      </div>
      <div class="row solid">
        <div class="col-md-3">
        	<h3>Categories</h3>
        	<h4>Main</h4>
        	<ul>
        	{{ range .MainCategories }}
        		<li><a href="/category/{{ .Abbr }}">{{ .Name }}</a></li>
        	{{ end }}
        	</ul>
        	<h4>Challenges</h4>
        	<ul>
        	{{ range .ChallengeCategories }}
        		<li><a href="/category/{{ .Abbr }}">{{ .Name }}</a></li>
        	{{ end }}
        	</ul>
        	<h3>Other swag</h3>
        	<ul>
              <li><a href="/rules">Rules and definitions</a></li>
              <li><a href="/export">Export boards</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
        	
        </div>
        <div class="col-md-9">{{ template "content" . }}</div>
      </div>
      <div class="row footer transparent fullheight">
        <p>&copy; Spelunky 2009&ndash;2016 <a href="http://mossmouth.com">Mossmouth, LLC</a>. |  This is a fan-made site, for official Spelunky news visit <a href="http://spelunkyworld.com">Spelunky World</a>.</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
{{ end }}
