{{ define "title" }}Moss Tier{{ end }}
{{ define "content" }}
<h3>Welcome to Moss Tier!</h3>
<p>Moss Tier is a collection of speedrun and high score leaderboards for indie publisher Mossmouth's action-adventure game <span class="bold"><a href="http://spelunkyworld.com/">Spelunky</a></span>.</p>

<p>It aims to help players identify the current world records and help new players get into Spelunky by providing videos with high quality gameplay. As such, all runs on this site satisfy the same set of <a href="/rules">rules</a>.</p>

<p>To see the current leaderboards, simply use the navigation menu at the left, and to submit your own scores and times, <a href="/register">register an account</a>; it takes less than a minute!</p>

<br />

<h3>Current world records</h3>
{{ range .PageContents.WorldRecords }}
  <h4>{{ .Description }}</h4>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Category</th>
          <th>Player</th>
          <th>Score/time</th>
          <th>Level</th>
          <th>Spelunker</th>
          <th>Video</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Records }}
          <tr>
            <td>{{ .Category.Name }}</td>
        <td>
          <img src="/img/flags/{{ .Runner.Country }}.png" class="spelunker" alt="{{ .Runner.FormatCountry }}" title="{{ .Runner.FormatCountry }}" /> <a href="/profile/{{ .Runner.ID }}">{{ .Runner.Username }}</a>
        </td>
        <td>{{ .FormatScore }}</td>
        <td>{{ .FormatLevel }}</td>
        <td><img src="/img/spelunkers/{{ .Spelunker.ID }}.png" class="spelunker" alt="{{ .Spelunker.Name }}" /></td>
        <td><a href="{{ .Link }}">Watch</a></td>
        <td>{{ .Comment }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{  end  }}

<h3>News</h3>
  {{ range .PageContents.News }}
    <p>{{ .Date }}:<br />{{ .Contents }}</p>
  {{ end }}
{{end}}
