{{ define "title" }}Login{{ end }}
{{ define "content" }}
<h2>Login</h2>

<p>
  Enter your username and password in the fields below to log in.
</p>

{{ if .PageContents.Error }}
<p>
  <span class="bold">Error</span>: {{ .PageContents.Error }}
</p>
{{ end }}

{{ if .PageContents.Success }}
<p>
  <span class="bold">Success</span>: You are now logged in.
</p>
<p>
  <a href="/edit-profile">Edit your profile</a><br />
  <a href="/submit-run">Submit run</a>
</p>
{{ else }}
  <form action="/login" class="form-horizontal" method="post">
    <div class="form-group">
      <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username" value="{{ .PageContents.UsernameInput }}">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-sm-2 control-label">Password:</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="***********" value="{{ .PageContents.PasswordInput }}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Send</button>
      </div>
    </div>
  </form>

  <p>
    <a href="/password-reset">Forgot your password?</a><br />
    <a href="/register">Create new user</a>
  </p>
{{ end }}


{{ end }}