{{ define "title" }}Reset password{{ end }}
{{ define "content" }}
<h2>Reset password</h2>

<p>
  Fill in the form below and a new password will be sent to your email.
</p>

{{ if .PageContents.PasswordReset }}
<p>
  <span class="bold">Success</span>: Your password has been reset and a new one will arrive in your inbox soon.
</p>
{{ end }}

{{ if .PageContents.Error }}
<p>
  <span class="bold">Error</span>: {{ .PageContents.Error }}
</p>
{{ end }}

<form action="/password-reset" class="form-horizontal" method="post">
  <div class="form-group">
    <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email address:</label>
    <div class="col-sm-7">
      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="mail@example.com">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Send</button>
    </div>
  </div>
</form>

{{ end }}