{{ define "title" }}Profile: {{ .PageContents.Runner.Username }}{{ end }}
{{ define "content" }}

{{ with .PageContents.Runner }}
  <h3>
    {{ .Username }}&nbsp;&nbsp;<img height="24" src="/img/spelunkers/{{ .Spelunker.ID }}.png" />
    {{ if .Country }}
      <img src="/img/flags/{{ .Country }}.png" alt="{{ $.PageContents.Runner.FormatCountry }}" title="{{ $.PageContents.Runner.FormatCountry }}" />
    {{ end }}
    {{ if eq .ID $.ActiveUser.ID }}
      &nbsp;&nbsp;<a href="/edit-profile">edit</a>
    {{ end }}
  </h3>
  <br />
  {{ if .YouTube }}
    <a href="https://youtube.com/user/{{ .YouTube }}"><img src="/img/community/youtube.png" height="32" title="YouTube profile"></a>
  {{ end }}
  {{ if .Twitch }}
    <a href="https://www.twitch.tv/{{ .Twitch }}"><img src="/img/community/twitch.png" height="32" title="Twitch account"></a>
  {{ end }}
  {{ if .Steam }}
    <a href="https://steamcommunity.com/profiles/{{ .Steam }}"><img src="/img/community/steam.png" height="32" title="Steam profile"></a>
  {{ end }}
  {{ if .Psn }}
    <a href="https://psnprofiles.com/$psn"><img src="/img/community/psn.png" height="32" title="PSN profile"></a>
  {{ end }}
  {{ if .FreeText }}
    <br />
    <h4>Description</h4>
    <p>{{ .FreeText }}</p>
  {{ end }}
{{ end }}

<br />

<h4>Best runs</h4>
{{ if .PageContents.Runs }}
  <div class="table-responsive">
    <table class="table table-condensed">
    <thead>
      <tr>
        <th>Category</th>
        <th>Time/Score</th>
        <th>Level</th>
        <th>Spelunker</th>
        <th>Video</th>
        <th>Comment</th>
        {{ if eq $.ActiveUser.ID $.PageContents.Runner.ID }}
          <th></th>
          <th></th>
        {{ end }}
      </tr>
      </thead>
      <tbody>
      {{ range .PageContents.Runs }}
        <tr>
          <td>
            <a href="/category/{{ .Category.Abbr }}/find/{{ .Runner.Username }}">
              {{ .Category.Name }}
            </a>
          </td>
          <td>{{ .FormatScore }}</td>
          <td>{{ .FormatLevel }}</td>
      <td><img src="/img/spelunkers/{{ .Spelunker.ID }}.png" class="spelunker" alt="{{ .Spelunker.Name }}" /></td>
      <td><a href="{{ .Link }}">Watch</a></td>
          <td>{{ .Comment }}</td>
          {{ if eq $.ActiveUser.ID $.PageContents.Runner.ID }}
            <td><a href="/submit-run/{{ .ID }}">Edit</a></td>
            <td><a href="#/" onclick="deleteRun({{ .ID }})">Delete</a></td>
          {{ end }}
        </tr>
      {{ end }}
      </tbody>
    </table>
  </div>
{{ else }}
  This user has not submitted any runs yet.
{{ end }}

{{ if eq .ActiveUser.ID .PageContents.Runner.ID }}
  {{ if .PageContents.FlaggedRuns }}
    <h4>Flagged runs</h4>
    <p>
      One or more of your runs have been flagged as being in violation of the site rules;
      these runs do not appear on the public leaderboards.
    </p>
    <div class="table-responsive">
      <table class="table table-condensed">
      <thead>
        <tr>
          <th>Category</th>
          <th>Time/Score</th>
          <th>Reason for flag</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{ range .PageContents.FlaggedRuns }}
        <tr>
          <td><a href="/category/{{ .Category.Abbr }}">{{ .Category.Name }}</a></td>
          <td>{{ .FormatScore }}</td>
          <td>{{ .Flag }}</td>
          <td><a href="/submit-run/{{ .ID }}">Edit</a></td>
          <td><a href="#/" onclick="deleteRun({{ .ID }})">Delete</a></td>
        </tr>
      {{ end }}
      </tbody>
      </table>
    </div>
  {{ end }}
{{ end }}


{{ end }}
