{{ define "title" }}Report run{{ end }}
{{ define "content" }}
<h2>Report run</h2>
<p>
  If you believe that this run violates the <a href="/rules">rules</a> for submission, explain why below, and we will have a look at it.
  The run you are reporting is run by {{ .PageContents.Run.Runner.Username }}, in the category {{ .PageContents.Run.Category.Name }}.
</p>

{{ if .PageContents.Success }}
<p>
  <span class="bold">Success</span>: Your message has been sent to the site moderators.
</p>
{{ end }}

{{ if .PageContents.Error }}
<p>
  <span class="bold">Error</span>: {{ .PageContents.Error }}
</p>
{{ end }}

<form action="/report/{{ .PageContents.Run.ID }}" class="form-horizontal" method="post">
  <div class="form-group">
    <label for="inputExplanation" class="col-sm-2 control-label">Explanation:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputExplanation" name="explanation" placeholder="Rule broken by run">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Send</button>
    </div>
  </div>
</form>

{{ end }}